<body style="background-image: linear-gradient(to right,black, indigo);text-align: center;">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <form action="/weather_results">
        <h1 style="color: white">Type in your city:</h1><br>
        <input type="text" name="city"><br>
        <input type="submit" value="Submit!">
    </form>
    <input class="mybutton" type="button" value="back to home" onclick="history.back()">
</body>
